@media(max-width:767px){
    
    /* Menú */
    .hero{
        nav{
            background: $secondarycolor;
            height: 100px; 
            width: 100%;  
            #check{
                &:checked ~ ul{
                    left: 0;
                }
            }
            .checkbtn{
                display: block;
                margin-top: 9.5px;
            }
            ul{
                position: fixed;
                width: 100%;
                height: 100vh;
                background: rgb(0, 0, 0);
                top: 80px;
                left: -100% ;
                text-align: center;
                transition: all .5s;
                .menu__item.active a{
                    text-decoration: underline double;
                }
                li{
                    display: block;
                    margin: 35px 0;
                    line-height: 30px;
                    a .activo, a:hover{
                        background: none;
                        color: azure;
                    }
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    
        .hero__main{
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
            text-align: center;
            .hero__texts{
                h4{
                    border: 1px dashed black;
                    width: 100%;
                }
            }
            .hero__picture{
                grid-row: 1/2;
                .hero__img{
                    max-width: 500px;
                    display: block;
                    margin: 0 auto;
                }
            }
             .hero__waves{
                grid-area: content;
                align-self: end; 
                margin-top: 0;
            }
        }
    }
    /* Menú del bar*/
    .reservacion{
        padding: 3rem;
        padding-top: 4rem;
        .reservacion__form{
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-bottom: 3rem;
            }
    }
    .grid{
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        padding-top: 4rem;
        padding-bottom: 5rem;
        .grid__item{
            flex: 1;
        }
        .grid__item1{
            padding-bottom: 6rem;
        }
    }
    .elige{
        padding-inline: 0;
        .titlemenu{
            padding-inline: 0;
            p{
                margin-right: 25px;
                margin-left: 25px;
            }
        }
        .cards{
            flex-direction: column;
            padding: 3rem;
            padding-bottom: 0;
            width: auto;
        }
    
    }
    .events{
        padding: 2rem;
        padding-top: 0;
        .in{
            flex-direction: column;
            text-align: center;
            box-shadow: none;
        }
    }

    /* Página Eventos*/

    .containerx{
        .CardsP{
            grid-template-columns: repeat(1,1fr);
            .CardP{
                .Card-content{
                    &:hover{
                        height: 60%;
                        transition: 0.7s;
                    }
                }
            }
        }
    }
    
    /* Página Sobre Nosotros*/
    .sobre__nosotros{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .parte__izquierda{
            width: auto;
        }
        .parte__derecha{
            width: auto;
        }
    }
    /* Página Sorteo*/
    .form-registro{
        width: 85%;
        margin-top: 90px;
    }
    /* Pie de Pagina*/

    .piedepagina{
        .grupo1{
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
            text-align: center;
            .box{
                p{
                    margin-left: 25px; 
                    margin-right: 25px; 
                    margin-top: 10px;
                }
            }
        }
    }
}

@media(max-width:950px){

    /* Menú */
    .hero{
        nav{
            ul{
                margin-right: 20px;
                li{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    /* Home */
    .hero{
        .hero__main{
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
            text-align: center;
            .hero__texts{
                h4{
                    border: 1px dashed black;
                    width: 100%;
                }
            }
            .hero__picture{
                grid-row: 1/2;
                .hero__img{
                    max-width: 500px;
                    display: block;
                    margin: 0 auto;
                }
            }
             .hero__waves{
                grid-area: content;
                align-self: end; 
                margin-top: 0;
            }
        }
    }

    /* Menú del bar*/
    .grid{
        grid-template-areas: 
            "item1  item1"
            "item2  item3";
    }

    /* Página Eventos*/

    .containerx{
        .CardsP{
            grid-template-columns: repeat(1,1fr);
        }
    }
    
    /* Página Sobre Nosotros*/
    .sobre__nosotros{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .parte__izquierda{
            width: auto;
        }
        .parte__derecha{
            width: auto;
        }
    }
    /* Pie de pagina */
    .piedepagina{
        .grupo1{
            grid-template-columns: 1fr;
            grid-template-rows: max-content;
            text-align: center;
            margin-bottom: 30px;
            .box{
                #imagenfooter{
                    display: none;
                }
            }
        }
    }
}