@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&family=Poppins&display=swap');

/* Fuentes */
$fontPoppins: 'Poppins', sans-serif;
$fontAlfa:'Alfa Slab One', cursive;
$fontBebas:'Bebas Neue', cursive;
$fontLato:'Lato', sans-serif;

/* Colores */
$maincolor:#D4AF37;
$secondarycolor: black;
$secondarycolor2: azure;
$hovercolor:rgb(100, 99, 99);
